{%extends 'blog/base.html' %}
{%block content %}
{%load crispy_forms_tags %}

<div class="content-section">
    <form action="" method="POST">
        {%csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login Now</legend>


            <!-- {{form.as_p}} -->

            <!-- {{form}} -->
            {{form|crispy}}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login </button>

        </div>
    </form>
    <div class="border-top pt-3 ">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'register' %}">Need An Account?</a>

        </small>
    </div>
</div>
{%endblock %}